@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@700&family=Pacifico&display=swap");

body {
  background-color: whitesmoke;
}

.btn {
  cursor: pointer;
  color: #ffeaa7;
}

h1 {
  color: #24695e;
}
